<div>
  <el-breadcrumb class="mbao" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row :gutter="20">
    <el-col :span="12">
      <el-input placeholder="请输入内容" v-model="queryText">
        <el-button @click="Query" slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </el-col>
    <el-col :span="12">
      <el-button>添加用户</el-button>
    </el-col>
  </el-row>

  <el-table :data="users" style="width: 100%">
    <el-table-column prop="username" label="姓名" width="180">
    </el-table-column>
    <el-table-column prop="email" label="邮箱" width="180"> </el-table-column>
    <el-table-column prop="mobile" label="电话"> </el-table-column>
    <el-table-column label="用户操作">
      <el-switch v-model="stata">
      </el-switch>

    </el-table-column>
    <el-table-column label="操作">
      <el-button type="primary" icon="el-icon-edit" plain size='mini'></el-button>
      <el-button type="danger" icon="el-icon-delete" plain size='mini'></el-button>
      <el-button type="success" icon="el-icon-check" plain size='mini'>分配角色</el-button>
    </el-table-column>
  </el-table>
  <el-pagination background layout="prev, pager, next" :total="total" :page-size="2" :current-page="pagenum"
    @current-change="clickCurrentpage">
  </el-pagination>
</div>
